<md-dialog>
    <div ng-cloak>
        <md-content class="md-padding">
            <md-nav-bar
                md-selected-nav-item="page1"
                nav-bar-aria-label="navigation links">
                <md-nav-item md-nav-click="goto('page1')" name="page1">
                    Page One
                </md-nav-item>
                <md-nav-item md-nav-click="goto('page2')" name="page2">
                    Page Two
                </md-nav-item>
                <md-nav-item md-nav-click="goto('page3')" name="page3">
                    Page Three
                </md-nav-item>

            </md-nav-bar>
            <div class="ext-content">
                External content for `<span>{{currentNavItem}}</span>`.
            </div>

            <md-checkbox ng-model="disableInkBar">Disable Ink Bar</md-checkbox>

        </md-content>
    </div>
    <form ng-submit="vm.save()">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Profile-edit</h2>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container flex>
                    <label>Data</label>
                    <input type="text">
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions>
            <md-button type="button" ng-click="vm.cancel()">Cancel</md-button>
            <md-button class="md-primary md-raised" type="submit">Save</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
