<md-list ng-cloak="" class="listdemoListControls friends-background">    
    <md-subheader class="md-no-sticky">Mes invitations</md-subheader>
    <md-list-item >
        <table layout="column" layout-align=" none">
            <tr layout="row" layout-align=" stretch" ng-repeat="person in vm.friendsList" class = "friends-box" ng-click="">
                <th><img alt="{{person.firstname}} {{person.name}}" ng-src="{{person.img}}" class="md-avatar"></th>
                <th>{{person.firstname}} {{person.name}}</th> 
                <!--<th><i class="material-icons friends-list-icon" ng-click="doSecondaryAction($event)">email</i></th>!-->
                <th><md-button class="md-raised md-primary" ng-click="">Accepter</md-button></th>
            <th><md-button class="md-raised md-warn" ng-click="">Refuser</md-button></th>
            </tr>
        </table>
    </md-list-item>
</md-list>

