<md-dialog>
    <form>
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2>Êtes vous sûr de vouloir supprimer la sélection ?</h2>
          </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div ng-repeat="person in vm.selectedTab">{{person.firstname}} {{person.name}}</div>
                <!--
                <div ng-repeat="person in vm.selectedTab | orderBy:-name ">{{person.name}}</div>
                !-->
        </md-dialog-content>
        <md-dialog-actions>
            <md-button type="button" ng-click="vm.cancel()">NON</md-button>
            <md-button class="md-primary md-raised" ng-click="vm.save()">OUI</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
