.Header-logo {
  width: 216px;
  height: 64px;
  //padding-top: 10px;
  //padding-bottom : 10px
}
.Header {
  
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}