<md-content class="Page-Container AppHeader">
    <div layout="row">
        <div flex="90" flex-offset="5" class="AppHeader-container">
            <div layout="row" layout-align="space-between">
                <img src="img/icons/logo.svg" ui-sref="app.landing" class="AppHeader-logo"/>
                <div layout="row" layout-align="center stretch">
                    <a hide-xs class="AppHeader-link md-subhead" href="https://laravel-angular.readme.io" target="_blank">Amis</a>
                    <a hide-xs class="AppHeader-link md-subhead" href="https://www.youtube.com/channel/UCTiRXlOapSWfu02rtOdaGvA/playlists">Photos</a>
                </div>
            </div>
        </div>
    </div>
</md-content>
<div class="AppHeader-spacer"></div>
