<md-content class="Page-Container Header">
    <div layout="row">
        <div flex="90" flex-offset="5" class="AppHeader-container">
            <div layout="row" layout-align="space-between">
                <img src="img/logo/signature.png" ui-sref="app.landing" class="Header-logo"/>
                <div layout="row" layout-align="center stretch">
                    <a hide-xs class="AppHeader-link md-subhead" ui-sref="app.news">Chronologie</a>
                    <a hide-xs class="AppHeader-link md-subhead" ui-sref="app.friends">Amis</a>
                    <a hide-xs class="AppHeader-link md-subhead" ui-sref="app.photos">Photos</a>
                    <a hide-xs class="AppHeader-link md-subhead" ui-sref="app.chat">Chat</a>
                </div>
                <div>
                    <a hide-xs class="AppHeader-link md-subhead" ng-if="vm.user.isAuth()" ui-sref="app.profile({ id_user: vm.user.data.id })">{{vm.user.data.firstname}} {{vm.user.data.name}}</a>
                    <a hide-xs class="AppHeader-link md-subhead" ng-if="!vm.user.isAuth()" ui-sref="app.login">Login</a>
                    <a hide-xs class="AppHeader-link md-subhead" ng-if="vm.user.isAuth()" ng-click="vm.logout()">Logout</a>
                </div>
            </div>
        </div>
    </div>
</md-content>
<div class="DemoHeader-spacer"></div>
