<md-content class="Page-Container AppHeader">
    <div layout="row">
        <div flex="90" flex-offset="5" class="AppHeader-container">
            <div layout="row" layout-align="space-between">
                <img src="img/icons/logo.svg" ui-sref="app.landing" class="AppHeader-logo"/>
                <div layout="row" layout-align="center stretch">
                    <a hide-xs class="AppHeader-link md-subhead" ui-sref="app.landing">Profil</a>
                    <a hide-xs class="AppHeader-link md-subhead" ui-sref="app.friends">Amis</a>
                    <a hide-xs class="AppHeader-link md-subhead" ui-sref="app.landing">Potos</a>
                </div>
            </div>
        </div>
    </div>
</md-content>
