<md-subheader class="md-no-sticky subheader">Fil d'actualité</md-subheader>
<md-content>
    <div layout="column" class="post-content"> <!--ng-if="vm.isDone()"!-->
        <md-card ng-repeat="post in vm.data">
            <md-card-header>
                <md-card-avatar>
                    <img class="md-avatar-icon" ng-src="{{post.user.img}}">
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">{{post.user.firstname}} {{post.user.name}}</span>
                    <span class="md-subhead">{{vm.delay(post)}}</span>
                </md-card-header-text>
            </md-card-header>
            <img ng-if="vm.isPicture(post)" ng-src="{{post.content.file}}" class="md-card-image">

            <md-card-content ng-if="vm.isText(post)">
                <p>{{post.content.text}}</p>
            </md-card-content>
            <md-card-actions class="button-content" layout="row" layout-align="center center">
                
                <div layout="column"  layout-align="center center">
                    <p>11</p>
                    <md-button><i class="material-icons">thumb_up</i></md-button>
                </div>
                <div layout="column"  layout-align="center center">
                    <p>13</p>
                    <md-button><i class="material-icons">favorite</i></md-button>
                </div>
                <div layout="column"  layout-align="center center">
                    <p>3</p>
                    <md-button><i class="material-icons">thumb_down</i></md-button>
                </div>
                <div layout="column"  layout-align="center center">
                    <p>{{post.nb_thumbsup}}</p>
                    <md-button><i class="material-icons">insert_emoticon</i></md-button>
                </div>
                
                <div layout="column"  layout-align="center center">
                    <p>{{post.nb_thumbsup}}</p>
                    <md-button><i class="material-icons">sentiment_neutral</i></md-button>
                </div>
                <div layout="column"  layout-align="center center">
                    <p>{{post.nb_thumbsup}}</p>
                    <md-button><i class="material-icons">whatshot</i></md-button>
                </div>
            </md-card-actions>
            <md-button class="button-comments" ng-click="vm.commentsDialog(post)"> {{vm.displayNumberComments(post)}}</md-button>

        </md-card>
    </div>
     <md-button class="button-comments" ng-click="vm.test()"> TEST</md-button>
</md-content>
<!--
<div ng-repeat="data in vm.postData">{{data}}</div>

!-->
