<md-subheader class="md-no-sticky subheader">Mur</md-subheader>
<md-content>

    <div layout="column" class="post-content">
        <div ng-if="vm.ownProfile">
            <div layout="row" >
                <md-button class="md-icon-button" aria-label="Nouveau post" ng-click="vm.toogleCreate('post')">
                    <md-icon class="material-icons">create</md-icon>
                    <md-tooltip md-direction="top">Nouveau post</md-tooltip>
                </md-button>
                <md-button class="md-icon-button" aria-label="Nouvel événement" ng-click="vm.createEventDialog()">
                    <md-icon class="material-icons">event</md-icon>
                    <md-tooltip md-direction="top">Nouvel événement</md-tooltip>
                </md-button>
                <md-button class="md-icon-button" aria-label="Nouvelle photo" ng-click="vm.toogleCreate('file')">
                    <md-icon class="material-icons">image</md-icon>
                    <md-tooltip md-direction="top">Nouvelle photo</md-tooltip>
                </md-button>
                <md-button class="md-icon-button" aria-label="Editer le profil" ng-click="vm.editProfilDialog()">
                    <md-icon class="material-icons">create</md-icon>
                    <md-tooltip md-direction="top">Editer le profil</md-tooltip>
                </md-button>
                <md-button class="md-icon-button" aria-label="Créer du contenu" ng-click="vm.createContentDialog()">
                    <md-icon class="material-icons">create</md-icon>
                    <md-tooltip md-direction="top">Créer du contenu</md-tooltip>
                </md-button>
            </div>
            <div ng-if="vm.createPost">
                <md-input-container>
                    <label>Texte</label>
                    <input type="text" ng-model="vm.yolo">
                </md-input-container>
            </div>
            <div ng-if="vm.createEvent">
                <md-input-container>
                    <label>Texte</label>
                    <input type="text" ng-model="vm.yolo">
                </md-input-container>
            </div>
            <div ng-if="vm.createFile">
                <ng-dropzone class="dropzone" options="vm.dzOptions" callbacks="vm.dzCallbacks" methods="vm.dzMethods"></ng-dropzone>
            </div>
        </div>
        <md-card ng-repeat="(key, post) in vm.data">
            <md-card-header>
                <md-card-avatar>
                    <img class="md-avatar-icon" ng-src="{{vm.user.img}}">
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">{{vm.user.firstname}} {{vm.user.name}}</span>
                    <span class="md-subhead">{{vm.delay(post)}}</span>
                </md-card-header-text>
            </md-card-header>
            <img ng-if="vm.isPicture(post)" ng-src="{{post.file}}" class="md-card-image">

            <md-card-content ng-if="vm.isText(post)">
                <p>{{post.text}}</p>
            </md-card-content>
            <md-card-actions class="button-content" layout="row" layout-align="center center">
                <div layout="column"  layout-align="center center">
                    <p>{{vm.data[key].reactions['like']}}</p>
                    <md-button ng-click="vm.react('like', key, post)" ng-class="vm.data[key].style['like']"><i class="material-icons">thumb_up</i></md-button>
                </div>
                <div layout="column"  layout-align="center center">
                    <p>{{vm.data[key].reactions['love']}}</p>
                    <md-button ng-click="vm.react('love', key, post)" ng-class="vm.data[key].style['love']"><i class="material-icons">favorite</i></md-button>
                </div>
                <div layout="column"  layout-align="center center">
                    <p>{{vm.data[key].reactions['dislike']}}</p>
                    <md-button ng-click="vm.react('dislike', key, post)" ng-class="vm.data[key].style['dislike']"><i class="material-icons">thumb_down</i></md-button>
                </div>
                <div layout="column"  layout-align="center center">
                    <p>{{vm.data[key].reactions['happy']}}</p>
                    <md-button ng-click="vm.react('happy', key, post)" ng-class="vm.data[key].style['happy']"><i class="material-icons">insert_emoticon</i></md-button>
                </div>
                <div layout="column"  layout-align="center center">
                    <p>{{vm.data[key].reactions['neutral']}}</p>
                    <md-button ng-click="vm.react('neutral', key, post)" ng-class="vm.data[key].style['neutral']"><i class="material-icons">sentiment_neutral</i></md-button>
                </div>
                <div layout="column"  layout-align="center center">
                    <p>{{vm.data[key].reactions['fire']}}</p>
                    <md-button ng-click="vm.react('fire', key, post)" ng-class="vm.data[key].style['fire']"><i class="material-icons">whatshot</i></md-button>
                </div>
            </md-card-actions>
            <md-button class="button-comments" ng-click="vm.commentsDialog(post)"> {{post.count}} Commentaire(s) -  Afficher les commentaires</md-button>

        </md-card>
    </div>
</md-content>
