<div style="height: 100px;"></div>
<div class="Page-Container Landing">
    <div class="white-hline"></div>
    <div layout="column" layout-align="start stretch">
        <div layout="row" class="Landing-cover"layout-align="space-between stretch">
            <div class="white-vline"></div>
            <div id="block-left" class="block"><md-subheader class="md-no-sticky">Evenements</md-subheader></div>
            <div class="white-vline"></div>
            <div id="block-middle"class="block"><md-subheader class="md-no-sticky">Fil d'actualité</md-subheader></div>
            <div class="white-vline"></div>
            <div id="block-right"class="block"><md-subheader class="md-no-sticky">Suggestion d'amis</md-subheader></div>
            <div class="white-vline"></div>
        </div>
    </div>
    <div class="white-hline"></div>
</div>
