<div style="height: 10vh;"></div>
<div class="Friends">
    <div class="main" layout="row" class="Friends-cover" layout-align="center center">
        <div class="white-vline"></div>
        
        <friends-invitation id="block-left"class="friends-block"></friends-invitation>
        
        <div class="white-vline"></div>
        
        <friends-list id="block-middle" class="friends-block"></friends-list>
        
        <div class="white-vline"></div>
        
        <friends-request id="block-right"class="friends-block"></friends-request>
        
        <div class="white-vline"></div>
    </div>
    <div class="white-hline"></div>
</div>

