<div style="height: 80px;"></div>
<div class="Page-Container Friends">
    <div class="white-hline"></div>
    <div layout="row" class="Friends-cover" layout-align="center center">
        <div class="white-vline"></div>
        <friends-invitation id="block-left"class="block"></friends-invitation>
        <div class="white-vline"></div>
        <friends-list id="block-middle" class="block"></friends-list>
        <div class="white-vline"></div>
        <friends-request id="block-right"class="block"></friends-request>
        <div class="white-vline"></div>
    </div>
    <div class="white-hline"></div>
</div>

