.post-content{
    background: rgba(13, 162, 204, .5);
    padding: 0 !important;
}
.subheader
{
    border-radius: 1em 1em 0 0;
}
.button-content .md-button
{
    min-width: 14%;
}

.button-content div p
{
    margin-top: 0;
    margin-bottom: 0.5em;
}
.button-comments
{
    width:96%;
    padding-left: 2%!important;
    padding-right: 2%!important;
}