<md-dialog style="max-height: 90vh; min-width: 70vh; max-width: 90vh; overflow-y: auto; padding-right: -25px;">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools" style="text-align: center;">
                <h2>Commentaires</h2>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div layout="column" class="post-content">
                <md-card ng-repeat="comment in vm.data">
                    <md-card-header>
                        <md-card-avatar>
                            <img class="md-avatar-icon" ng-src="{{comment.user.img}}">
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">{{comment.user.firstname}} {{comment.user.name}}</span>
                            <span class="md-subhead">{{vm.delay(comment)}}</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                        <p>{{comment.content.text}}</p>
                    </md-card-content>
                </md-card>
            </div>
            <md-input-container class="md-block" style="margin-left: 1em;margin-right: 1em;">
                <label>Écrire un commentaire.</label>
                <textarea ng-model="vm.newComment" rows="5" md-select-on-focus style="min-height: 40em;padding-bottom: 0;"></textarea>
                    <p>{{vm.message}}<p>
            </md-input-container>
        </md-dialog-content>

        <md-dialog-actions>
            <md-button type="button" ng-click="vm.cancel()">OK</md-button>
            <md-button class="md-primary md-raised" ng-click="vm.save()">Envoyer</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
