       
.friends-background > .md-subheader
{
        text-align: center;
        background: rgba(255, 255, 255, 0.7);
}
.subheader
{
    border-radius: 1em 1em 0 0;
}

.main-list
{
        padding: 0!important;
}