<md-dialog>
    <form ng-submit="vm.save()">

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>Friend : {{vm.name}} </h2>
                    </div>
                </md-toolbar>
                <md-list-item>
                    <table style="width:100%">
                        <tr ng-repeat="person in vm.parent.people" ng-click="">
                            <th><img alt="{{ person.name}}" ng-src="{{ person.img}}" class="md-avatar"></th>
                            <th>{{ person.name}}</th>
                        </tr>
                    </table>
                </md-list-item>
            </div>
        </md-dialog-content>

        <md-dialog-actions>
            <md-button type="button" ng-click="vm.cancel()">Cancel</md-button>
            <md-button class="md-primary md-raised" type="submit">Save</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>