<md-dialog>
    <form >

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>Rechercher un ami</h2>
                    </div>
                </md-toolbar>
            </div>
            <div layout="column" ng-cloak>
                <md-content class="md-padding">
                    <form ng-submit="$event.preventDefault()">
                        <md-autocomplete
                            ng-disabled="vm.isDisabled"
                            md-no-cache="vm.noCache"
                            md-selected-item="vm.selectedItem"
                            md-search-text-change="vm.searchTextChange(vm.searchText)"
                            md-search-text="vm.searchText"
                            md-selected-item-change="vm.selectedItemChange(item)"
                            md-items="item in vm.querySearch(vm.searchText)"
                            md-item-text="vm.display(item)"
                            md-min-length="0"
                            placeholder="Rechercher un utilisateur...">
                            <md-item-template>
                                <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{vm.display(item)}}</span>
                            </md-item-template>
                            <md-not-found>
                                Aucun utilisateur ne correspond à "{{vm.searchText}}".
                            </md-not-found>
                            
                        </md-autocomplete>
                        <div ng-submit="$event.preventDefault()">{{vm.message}}</div>
                        <br/>
                    </form>
                </md-content>
            </div>
        </md-dialog-content>

        <md-dialog-actions>
            <md-button type="button" ng-click="vm.cancel()">Annuler</md-button>
            <md-button type="button" class="md-primary md-raised" style="background-color: #0096A6!important;" ng-click="vm.goToProfil()">Visiter le profil</md-button>
            <md-button class="md-primary md-raised" ng-click="vm.save()">Ajouter</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>