<div style="height: 64px;"></div>
<div class="Profile">
    <div class="main" layout="column" layout-align="start stretch">
        <div layout="row" class="content"layout-align="space-between stretch">
            <div class="white-vline"></div>
            <div id="block-left" class="block">
                <profile-pres></profile-pres>
            </div>
            <div class="white-vline"></div>
            <div id="block-middle"class="block">
                <post-display-profile></post-display-profile>
            </div>
        </div>
    </div>
    <div class="white-hline"></div>
</div>
